######################################
# Environment variables
######################################

[env.development]
KERNEL_BUILD_DIRECTORY = "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/hhu_tosr_kernel/debug"
APPS_BUILD_DIRECTORY = "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/hhu_tosr_app/debug"

[env.production]
KERNEL_BUILD_DIRECTORY = "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/hhu_tosr_kernel/release"
APPS_BUILD_DIRECTORY = "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/hhu_tosr_app/release"

[env]
TAR = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "tar", mapping = { "macos" = "gtar" } }
LINKER = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "ld", mapping = { "macos" = "x86_64-elf-ld" } }
OBJCOPY = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "objcopy", mapping = { "macos" = "x86_64-elf-objcopy" } }
QEMU_AUDIO_DEVICE = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "pa", mapping = { "macos" = "coreaudio" } }
KERNEL = "${KERNEL_BUILD_DIRECTORY}/kernel.bin"
ISO = "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/${CARGO_MAKE_PROJECT_NAME}.iso"


######################################
# Build tasks
######################################

# Default task
[tasks.default]
alias = "iso"

# Build and link kernel and applications
[tasks.link-members]
run_task = { name = "link", fork = true }

#
# Bootloader tasks
#
[tasks.create-initrd]
command = "${TAR}"
args = [ "-cf", "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/isofiles/boot/initrd.tar" , "-C", "${APPS_BUILD_DIRECTORY}", "hello" ]
dependencies = [ "link-members", "grub-create-directory" ]

[tasks.grub-create-directory]
command = "mkdir"
args = [ "-p", "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/isofiles/boot/grub" ]

[tasks.grub-copy-kernel]
command = "cp"
args = [ "${KERNEL}", "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/isofiles/boot" ]
dependencies = [ "link-members", "grub-create-directory" ]

[tasks.grub-copy-cfg]
command = "cp"
args = [ "os/src/boot/grub.cfg", "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/isofiles/boot/grub" ]
dependencies = [ "grub-create-directory" ]

[tasks.iso]
command = "grub-mkrescue"
args = [ "-o", "${ISO}", "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/isofiles" ]
dependencies = [ "grub-copy-kernel", "grub-copy-cfg", "create-initrd" ]


######################################
# Running & debugging tasks
######################################

[tasks.qemu]
command = "qemu-system-x86_64"
args = [ "-cdrom", "${ISO}", "-serial", "stdio", "-audiodev", "id=audio0,driver=${QEMU_AUDIO_DEVICE}", "-machine", "pcspk-audiodev=audio0", "-nic", "model=rtl8139" ]
dependencies = [ "iso" ]

[tasks.qemu-gdb]
command = "qemu-system-x86_64"
args = [ "-cdrom", "${ISO}", "-serial", "stdio", "-audiodev", "id=audio0,driver=${QEMU_AUDIO_DEVICE}", "-machine", "pcspk-audiodev=audio0", "-s", "-S" ]
dependencies = [ "iso", "gdb-echo-for-vscode" ]

[tasks.gdb-echo-for-vscode]
command = "echo"
args = [ "Ready to debug" ]

[tasks.gdb]
command = "gdb"
args = [ "-x", "gdbcommands", "${KERNEL}" ]

[tasks.gdbt]
command = "gdb"
args = [ "-x", "gdbcommands", "${KERNEL}", "-tui" ]
